<h1>All Things Heroes</h1>

<form action="/" method="POST">
    Name: <input type="text" name="name">
    Description:<input type="text" name="description">
    Image(URL): <input type="text" name="image">
    <button type="submit">Submit</button>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
    </tr>

    {{#each customHeroes}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.image}}</td>
        </tr>
    {{/each}}
</table>

<h2>--------------------------</h2>

<form action="/" method="POST">
    Search for a Character: <input type="text" name="charName">
    <button type="submit">Search</button>
</form>


<h3>* Character search is working on local but not on the server, working on making it work</h3>

<a href="https://drive.google.com/file/d/1eq7-Q_rjwPMubHuw2skUmyplShJy91Ox/view?usp=sharing"><h3>Video showing that it works in local</h3></a>
